<!DOCTYPE html>
<html lang="en">
<head>
    <title>RPG</title>
    <link rel="stylesheet" href="/css/gameStyle.css">
</head>


<body>

<button id="attackButton" onclick="attack();">Attack</button>

<button onclick="displaySpells();" id="magicButton">Magic</button>
<div id="spellsContainer">
<!-- Heals the player -->
<button onclick="heal();" id="spell1" class="spells">Heal</button>

<!--  High damage magic attack -->
<button onclick="magicBlast();" id="spell2" class="spells">Magic Blast</button>

<!-- Moderate damage magic attack that ignores armor -->
<button onclick="magicCut();" id="spell3" class="spells">Magic Cut</button>

<!-- Improves dexterity for the rest of the battle -->
<button onclick="dexterityUp();" id="spell4" class="spells">Dexterity Up</button>
</div>

<button id="blockButton" onclick="block();">Block</button>

<button id="inventoryDisplayer" onclick="displayInventory();">Item</button>
<div id="inventory"></div>

<button onclick="flee();">Flee</button>

<button onclick="returnHome();" id="returnHome">Go Home</button>

<div id="enemyInfo">
    <p id="enemyName"></p>
    <p id="enemyHP"></p>
    <p id="enemyMP"></p>
    <p id="enemyStats"></p>
</div>

      <script src="/script/script.js"></script>

</body>