<!DOCTYPE html>
<html lang="en">
<head>
    <title>RPG</title>
    <link rel="stylesheet" href="/css/gameIntroStyle.css">
</head>


<body>

    <button onclick="startBalanced();">Balanced</button>

    <button onclick="startAttack();">Attack</button>

    <button onclick="startDefense();">Defense</button>

    <button onclick="startMagic();">Magic</button>

    <div id="confirmIntro">
        <p id="sure">Are you sure?</p>
        <button onclick="confirm();">Yes</button>
        <button onclick="unsure();">No</button>
    </div>

      <script src="/script/script.js"></script>

</body>