<!DOCTYPE html>
<html lang="en">
<head>
    <title>RPG</title>
    <link rel="stylesheet" href="/css/gameStyle.css">
</head>


<body>

<button onclick="prepareBattle();">Random Battle</button>
<button onclick="restoreHP();" id="hpRestore">Restore HP</button>
<button onclick="restoreMP();" id="mpRestore">Restore MP</button>
<button onclick="restoreSP();" id="SpRestore">Restore SP</button>
<button>Open Inventory</button>
<button>Open Shop</button>
<button>Skills</button>

      <script src="/script/script.js"></script>

</body>