<!DOCTYPE html>
<html lang="en">
<head>
    <title>RPG</title>
    <link rel="stylesheet" href="/css/gameStyle.css">
</head>


<body>

    <div id="hud">
        <div id="hpBar">HP</div>
        
        <div id="mpBar">MP</div>
        
        <div id="spBar">SP</div>
    </div>

<div id="gameButtons">
<button onclick="prepareBattle();">Random Battle</button>
<button onclick="restoreHP();" id="hpRestore">Restore HP</button>
<button onclick="restoreMP();" id="mpRestore">Restore MP</button>
<button onclick="restoreSP();" id="SpRestore">Restore SP</button>


<button id="inventoryDisplayer" onclick="displayInventory();">Open Inventory</button>

<button id="shopButton" onclick="viewShop();">Open Shop</button>

<button id="skillsButton" onclick="viewSkills();">Open Skills</button>

<button onclick="window.location='./'">Main Menu</button>


<div id="shopContainer">
    <button onclick="buyHpPotion();" id="hpPotion">Health Potion | 100 Gold</button>
    <button onclick="buyMpPotion();" id="mpPotion">Magic Potion | 150 Gold</button>
    <button onclick="buySpPotion();" id="spPotion">Special | 125 Gold</button>
</div>


<div id="skillsContainer">
    <button onclick="levelUp();">Level Up</button>
    <div id="levelUpScreen">
        <div id="pointsLeft">
            Points: 3
        </div>
        <div id="increaseHP">
            Max HP
            <button onclick="incrementHP();">+</button>
            <button onclick="decrementHP();">-</button>
            <div id="playerMaxHP">0</div>
        </div>

        <div id="increaseMP">
            Max MP
            <button onclick="incrementMP();">+</button>
            <button onclick="decrementMP();">-</button>
            <div id="playerMaxMP">0</div>
        </div>

        <div id="increaseSP">
            Max SP
            <button onclick="incrementSP();">+</button>
            <button onclick="decrementSP();">-</button>
            <div id="playerMaxSP">0</div>
        </div>

        <div id="increaseATK">
            Attack
            <button onclick="incrementATK();">+</button>
            <button onclick="decrementATK();">-</button>
            <div id="playerATK">0</div>
        </div>

        <div id="increaseDEF">
            Defense
            <button onclick="incrementDEF();">+</button>
            <button onclick="decrementDEF();">-</button>
            <div id="playerDEF">0</div>
        </div>

        <div id="increaseMagic">
            Magic
            <button onclick="incrementMagic();">+</button>
            <button onclick="decrementMagic();">-</button>
            <div id="playerMagic">0</div>
        </div>

        <div id="increaseDexterity">
            Dexterity
            <button onclick="incrementDexterity();">+</button>
            <button onclick="decrementDexterity();">-</button>
            <div id="playerDexterity">0</div>
        </div>

        <button onclick="completeLevelUp();">X</button>
    </div>


    <button id="skillTree" onclick="displaySkillTree();">Skill Tree</button>
    <div id="skills">
        <div id="physicalSkills">Physical Skills
            <br>
            <button>Increase Crit Chance</button>
            <br>
            <button>Increase Crit Damage</button>
            <br>
            <button>New Ability</button>
        </div>

        <div id="magicSkills">Magic Skills
            <br>
            <button>Maigc Skill Here</button>
        </div>
    </div>
</div>


<div id="inventory"></div>

</div>

      <script src="/script/script.js"></script>

</body>