<!DOCTYPE html>
<html lang="en">
<head>
    <title>RPG</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>

    <div id="titleContainer">
        <h1 id="gameTitle">Game Title</h1>
    </div>

    <div id="startContainer">
        <button onclick="displayFiles();" id="gameStart">Start</button>
    </div>

    <div id="optionsContainer">
        <button id="gameOptions">Options</button>
    </div>

    <div id="filesContainer">
      <div id="filesInnerContainer">
        <button onclick="setFile1();" id="file1">File 1</button>
        <button onclick="setFile2();" id="file2">File 2</button>
        <button onclick="setFile3();" id="file3">File 3</button>
        <button onclick="hideFiles();" id="closeFiles">x</button>
      </div>
    </div>

      <script src="/script/script.js"></script>

</body>