body {
    background-color: black;
  }
  
  #text {
    color: white;
  }
  
  #textBlack {
    color: white;
  }

#spellsContainer {
  display: none;
}

#returnHome {
  display: none;
}

#shopContainer {
  display: none;
}

#inventory {
  color: white;
  display: none;
}